<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5level %class{5}:%line - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="ing.wbaa.druid" level="warn" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

</configuration>
